.mainNavigation {
    position: fixed;
    top: 0;
    // padding-left: 50px;
    margin-left: 5%;
    left: 0;
    z-index: 999;
    transition: all 0.5s;
    background: transparent;
    width: 100%;

    &__list {
        height: 50px;
        display: flex;
        list-style: none;
        align-items: center;



        li {
            margin: 0 25px;
            align-self: center;
            font-size: 1.4rem;

            .navigation__link {
                position: relative;
                text-decoration: none;
                color: white;
                font-weight: bold;
                padding-right: 10px;
                cursor: pointer;
                text-align: center;

                &::before {
                    position: absolute;
                    content: "";
                    width: 0%;
                    height: 2px;
                    background-color: crimson;
                    bottom: -5px;
                    left: 0;
                    transition: 0.3s ease;


                }

                &:hover::before {
                    width: 80%;
                }
            }

        }
    }
}

.mainNavigation--bg {
    width: 100%;
    background-color: black;
}

.banner {
    position: relative;
    height: 20vh;
    // width: 90vw;

    margin: 50px auto;

    &__pic {
        border-radius: 25px;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        object-fit: fill;
        width: 100%;
        margin: auto;
    }

    .banner__text-title,
    .banner__text-description {
        margin: 0 15px;
        position: absolute;
        bottom: 15%;
    }

    .banner__text-title {
        bottom: 50%;
        font-size: 2.6rem;
    }


}