.mainNavigation {
    position: fixed;
    top: 0;
    padding-left: 50px;
    left: 0;
    z-index: 999;
    transition: all 0.5s;
    background: transparent;
}

.mainNavigation--bg {
    width: 100%;
    background-color: black;
}

.banner {
    position: relative;
    height: 20vh;
    // width: 90vw;

    margin: 50px auto;

    &__pic {
        border-radius: 25px;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        object-fit: fill;
        width: 100%;
        margin: auto;
    }

    .banner__text-title,
    .banner__text-description {
        margin: 0 15px;
        position: absolute;
        bottom: 15%;
    }

    .banner__text-title {
        bottom: 50%;
        font-size: 2.6rem;
    }


}